:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
    --shadow-color: rgba(0, 0, 0, 0.15);
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    border: 0px;
    border-radius: 4px;
}

button:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}


h1,
h2,
h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

/* HEADER */

.header {
    background-color: var(--background-primary-color);
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.contact-info,
.navigation-button-list {
    list-style-type: none;
}

.logo {
    margin-right: 93px;
}

.navigation-button-list {
    display: flex;
    gap: 50px;
}

.navigation-button {
    display: inline-block;
    padding: 32px 0;
}

.contact-info {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.logo,
.footer-logo {
    color: var(--primary-color);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.78px;
    font-weight: 700;
    font-size: 26px;
}

.accent-text-logo {
    color: var(--accent-color)
}

.icon {
    fill: var(--secondary-color);
}

.navigation-button-active {
    position: relative;
}

.navigation-button-active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
}

.tel,
.email,
.navigation-button {
    transition: color 300ms;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.contact {
    color: var(--secondary-color);
    align-items: center;
    display: flex;
    gap: 10px;
}

.contact-info a:hover,
.contact-info a:focus,
.navigation-button:hover,
.navigation-button:focus,
.navigation-button-active {
    color: var(--accent-color);
}

/* MAIN */

.hero {
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(47, 48, 58, 0.40)), url("../images/background_img.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--background-secondary-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-header {
    color: var(--background-primary-color);
    width: 696px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 2.64px;
}

.hero-button {
    color: var(--background-primary-color);
    padding: 10px 24px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px var(--shadow-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.main-content {
    padding-top: 94px;
}

.feature,
.development-stack-list,
.filter-list,
.team-list,
.project-list,
.social-links-list,
.customers-list,
.social-links-footer-list,
.feedback-form__list {
    list-style-type: none;
}

.feature {
    width: 270px;
    flex-shrink: 0;
}

.feature-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #F5F4FA;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.feature-title {
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.42px;
    padding-bottom: 10px;
}

.feature-description {
    color: var(--secondary-color);
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.development-stack-header,
.team-header {
    text-align: center;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;

}

.development-stack-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.development-stack {
    position: relative;
}

.development-stack-text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: var(--background-primary-color);
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    bottom: 3px;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.80);
}

.development {
    padding: 94px 0px;
}

.team-section {
    background-color: var(--inactive-filter-color);
    padding: 94px 0px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.employee {
    background-color: var(--background-primary-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.employee img {
    height: 260px;
    width: 270px;
}

.employee-name-job {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.employee-name,
.employee-job {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: center;
}

.employee-name {
    margin-bottom: 10px;
}

.employee-job {
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.social-links-list {
    display: flex;
    gap: 10px;
}

.social-link:hover circle {
    transition: 300ms;
    fill: var(--accent-color)
}

.social-link circle {
    fill: var(--background-primary-color);
}

.social-link use {
    color: #AFB1B8;
}

.social-link:hover use {
    transition: 300ms;
    color: var(--background-primary-color);
}

/* FOOTER */

.footer {
    background-color: var(--background-secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--background-primary-color);
}

.contact-info-footer {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.studio-adress,
.email-footer,
.tel-footer {
    color: var(--background-primary-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.42;
}

.email-footer,
.tel-footer {
    color: var(--transperent-color);
    text-decoration: none;
}

.footer>div {
    display: flex;
    align-items: baseline;
}

.join-us {
    margin-left: 94px;
}

.social-links-footer-list {
    display: flex;
    gap: 10px;
}

.social-link-footer:hover circle {
    transition: 300ms;
    fill: var(--accent-color)
}

.social-link-footer circle {
    fill: rgba(255, 255, 255, 0.1);
}

.social-link-footer use {
    color: var(--background-primary-color);
}

.social-link-footer:hover use {
    transition: 300ms;
    color: var(--background-primary-color);
}

.join-us h3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customers>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.regular-customers-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    gap: 30px;
}

.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customer-logo {
    color: #AFB1B8;
}

.customer:hover svg {
    transition: 300ms;
    color: var(--accent-color)
}

.customer:hover {
    transition: 300ms;
    border-color: var(--accent-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.20);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-window {
    transform: scale(50%, 50%);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    padding: 40px;
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--background-primary-color);
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(100%, 100%);
}

.close-window {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background-primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
}

.close-window:hover .icon-close-window {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--accent-color);
    cursor: pointer;
}

/* PORTFOLIO */

.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter {
    color: var(--primary-color);
    background-color: var(--inactive-filter-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: 300ms;
    padding: 6px 22px;
    gap: 30px;
}

.filter:hover,
.filter:focus {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project {
    text-decoration: none;
}

.image-hidden-text {
    position: relative;
    overflow: hidden;
}

.hidden-project-section {
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    opacity: 0.9;
    transition-property: transform;
    background-color: var(--accent-color);
}

.hidden-project-text {
    color: var(--background-primary-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding-left: 24px;
    padding-right: 24px;
}

.project:hover .hidden-project-section {
    transform: translateY(0);
}

.project-area {
    padding: 94px 0px 94px 0px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.project-list li {
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
}

.project-list li:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project img {
    display: block;

}

.project-details {
    padding: 30px 24px 20px 24px;
}

.project-title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.project-description {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.footer__subscribe {
    margin-left: 94px;
}

.subscribe__title {
    color: var(--background-primary-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscribe__field {
    color: var(--background-primary-color);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 10px 15px;
}

.subscribe__button {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 28px;
    cursor: pointer;

    color: var(--background-primary-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
}

.button__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe__icon {
    color: var(--background-primary-color);
}

.modal-window__title {
    color: var(--primary-color);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.feedback-form__list {
}

.list__item--feedback {}

.item__label--feedback {
    color: var(--secondary-color);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    display: inline-block;
    margin-bottom: 4px;
}

.item__container--feedback {
    position: relative;
    border: none;
}

.item__field--feedback,
.item__comment-field--feedback {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding-left: 42px;
    margin-bottom: 10px;
    transition: 300ms;
}


.item__field--feedback:focus,
.item__field--feedback:hover,
.item__comment-field--feedback:focus,
.item__comment-field--feedback:hover {
    border: 1px solid var(--accent-color);
    outline: none;
}

.item__field--feedback:hover+.item__icon--feedback,
.item__field--feedback:focus+.item__icon--feedback {
    color: var(--accent-color);
}

.item__comment-field--feedback {
    margin-bottom: 20px;
    padding: 12px 16px;
    height: 120px;
    display: flex;
    align-items: start;
    resize: none;
}

.item__icon--feedback {
    color: var(--primary-color);
    position: absolute;
    top: 11px;
    left: 12px;
    transition: 300ms;
}

.feedback-form__agreement {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 12px;
}

.agreement__checkbox--feedback {
    margin-right: 8px;
    color: var(--primary-color);
}

input[type="checkbox"] {
    appearance: none;
    border: var(--secondary-color) 1px solid;
    background-color: var(--background-primary-color);
    height: 15px;
    width: 16px;
    border-radius: 2px;
    position: relative;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    transform: translate(4px, 10px) rotate(-45deg);
    transform-origin: left;
    transition: 150ms all linear;
    transition-delay: 0ms;
}

input[type="checkbox"]::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: var(--accent-color);
    transform: translate(0px, 5px) rotate(45deg);
    transform-origin: left;
    transition: 150ms all linear;
    transition-delay: 150ms;
}

input[type="checkbox"]:checked::before {
    width: 14px;
    transition-delay: 150ms;
}

input[type="checkbox"]:checked::after {
    width: 8px;
    transition-delay: 0ms;
}
  

.agreement__text--feedback {
    color: var(--secondary-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.agreement__hyperlink {
    color: var(--accent-color);
    text-decoration-line: underline;
}

.feedback-form__button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 52px;
    display: block;
    margin: 0 auto;

    color: var(--background-primary-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
}

.feedback-form__button:hover {
    cursor: pointer;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}