@import '../../utils/variables';

.feature {
    padding-top: 94px;
}

.feature-list__item {
    width: 270px;
    flex-shrink: 0;
}

.feature__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #F5F4FA;
}

.feature__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feature__title {
    color: getColor(primary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.42px;
    padding-bottom: 10px;
}

.feature__description {
    color: getColor(secondary-color);
    line-height: 1.71;
    letter-spacing: 0.42px;
}