.mobile-menu {
    @include mobile {
        padding: 48px 40px;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        background-color: #fff;
        z-index: 1;
        transform: translateX(0%);
        transition: cubic-bezier(0.4, 0, 0.2, 1) 300ms transform;
    }

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.mob-nav {
    margin-bottom: 306px;
}

.mob-nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mob-nav__link {
    color: #212121;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}

.mobile-menu__phone {
    color: #2196F3;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
    margin-top: auto;
    display: block;
    margin-bottom: 32px;
}

.mobile-menu__email {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    display: block;
    margin-bottom: 64px;
}

.mobile-socials-list {
    display: flex;
    gap: 10px;
}

.mobile-socials-list__item {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.20);;

    &:last-child {
        padding-right: 0;
        border: none;
    }
}

.mobile-socials-list__link {
    color: #2196F3;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 122.222% */
    letter-spacing: 0.36px;
}

.close-button {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.is-hidden--mobile {
    transform: translateX(100%);
}