@import '../../utils/variables';

.team__title {
    text-align: center;
    color: getColor(primary-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;

    @include mobile {
        color: getColor(primary-color);
        text-align: center;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.84px;
    }
}

.team {
    background-color: getColor(inactive-filter-color);
    padding: 94px 0px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    @include mobile {
        flex-wrap: wrap;
    }
}

.team-list__item {
    background-color: getColor(background-primary-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    img {
        height: 260px;
        width: 270px;
        
        @include mobile {
            width: 450px;
            height: 460px;
        }
    }

    @include mobile {
        width: 100%;
        height: 622px;
    }
}

.team-list__data {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.team-list__name,
.team-list__job {
    color: getColor(primary-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: center;
}

.team-list__name {
    margin-bottom: 10px;
}

.team-list__job {
    color: getColor(secondary-color);
    margin-bottom: 16px;
}

.socials-list {
    display: flex;
    gap: 10px;
}

.socials-list__icon {
    &:hover circle {
        transition: 300ms;
        fill: getColor(accent-color);
    }

    circle {
        fill: getColor(background-primary-color);
    }

    use {
        color: #AFB1B8;
    }

    &:hover use {
        transition: 300ms;
        color: getColor(background-primary-color);
    }
}